*{
  /*outline: 1px solid red;*/
  box-sizing: border-box;
}
img{
  width: 100%;
}

body {
  font-family: 'Noto Sans Chakma', sans-serif;
}
.emage-container{
  width: 100%;
  max-height: 100vh;
  object-fit:cover;
}
.header-text{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}
